* {
    /*border: dashed red 1px;*/
}

body {
    background-color: #36393F;
    color: white;
}

.list-group-item {
    background-color: #212529;
    color: white;
}

.list-group-item:hover {
    background-color: #485059;
}

.form-select{
    color: white;
    background-color: #485059;
}